.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100%;
  width: 100%;
  background-color: #333;
}

button {
  margin-top: 10px;
}

#countdown {
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 70px;
  height: 200px;
  width: 205px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 205px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 205px;
  height: 205px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 15px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: white;
  fill: none;
  
}

.spinning {
  animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 150px;
  }
}

.table-bg {
  background-color: white;
  opacity: 0.9;
}

.display-1 {
  color: white;
}